<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.FollowMapper">

    <delete id="removeFollow">
        DELETE FROM tb_follow WHERE user_id = #{userId} AND follow_user_id = #{followUserId}
    </delete>
</mapper>
